workflows/syllabus_assistant/SyllabusLibrary.json
{
  "name": "SyllabusLibrary",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1dnTC-1lrAFcE2v_huFrqajw5LwwT1M9Z",
          "mode": "list",
          "cachedResultName": "RAG_Test_Documents",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dnTC-1lrAFcE2v_huFrqajw5LwwT1M9Z"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -16
      ],
      "id": "de1b33cc-9bb7-475c-bcd0-6fa3180d2930",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WqMm4hjLlCuQXsTL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "syllabus-library",
          "mode": "list",
          "cachedResultName": "syllabus-library"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        352,
        -16
      ],
      "id": "d5f37553-9804-4a6b-ad7f-3ac9f1a1bb26",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bUSmnmdzGFIV0rbz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        192
      ],
      "id": "3c9e27f0-2669-460f-9bb4-ef93de7f36fa",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "bgKs4SZxKElHPimr",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        496,
        192
      ],
      "id": "6d3d24ea-8b68-44ee-ac09-396166f44b8d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        480,
        368
      ],
      "id": "f0da9e47-ef9e-4083-b7d4-629b3edc5dc0",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".pdf",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1-P4IJWm9HetXW_G7QW36IPLqJP5UAL0s",
            "mode": "list",
            "cachedResultName": "SyllabusLibrary",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1-P4IJWm9HetXW_G7QW36IPLqJP5UAL0s"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        -16
      ],
      "id": "4a6f839e-06ea-43e4-aae9-84baf1badde7",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WqMm4hjLlCuQXsTL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        -16
      ],
      "id": "4e07b632-db71-4ee0-a770-387fec7a461f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WqMm4hjLlCuQXsTL",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84b8a463-fb19-4265-95e7-f79fbcc1a97f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61f5f4ba368a18036405edcb146a582bf0d5feec70389539086e519787ae30ee"
  },
  "id": "fSf73xFlKxXVGjC0",
  "tags": [
    {
      "createdAt": "2025-08-06T12:21:36.357Z",
      "updatedAt": "2025-08-06T12:21:36.357Z",
      "id": "UyEnxSaCbGZfzpJG",
      "name": "IC-Project"
    }
  ]
}